@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.slick-dots li.slick-active button:before {
  color: rgb(9, 77, 196) !important;
}
/* the slides */
.slick-slide {
  padding-left: 10px;
}
.slick-item{
  padding-left: 10px;

}



